
/* body {
    background-color: lightseagreen;
} */

body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

#gradient{
    width: 100%;
    height: 800px;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: white;
    font-family: 'Fredoka One', cursive;
    margin-left: 330px;
}


p {
    color: white;
    background-color: black;
    font-family: 'Fredoka One', cursive; 
}

#soundbox {
    width: 200px;
    height: 200px;   
}

.soundbox1 {
    width: 45px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 190px;

}

.soundbox2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 283px;
    
}

.soundbox3 {
    width: 33px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 367px;
    
}

.soundbox4 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 280px;
    
}

.soundbox5 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 180px;

}

.soundbox6 {
    width: 60px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 100px;
    
}

.soundbox7 {
    width: 63px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 350px;
    right: 530px;
    
}

#mainbox {
    /* width: 700px; */
    height: 530px;
    display: flex;
    justify-content: space-evenly;
    
   
}