
body {
    background-color: lightseagreen;
}

h2 {
    color: white;
    font-family: 'Fredoka One', cursive;
    margin-left: 430px;
}

p {
    color: white;
    font-family: 'Fredoka One', cursive; 
}

#soundbox {
    width: 200px;
    height: 200px;   
}

.soundbox1 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 200px;

}

.soundbox2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 300px;
    
}

.soundbox3 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: 400px;
    
}

.soundbox4 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 284px;
    
}

.soundbox5 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 180px;
    
    
}

.soundbox6 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 200px;
    right: 100px;
    
}

.soundbox7 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 350px;
    right: 530px;
    
}

#mainbox {
    /* width: 700px; */
    height: 530px;
    display: flex;
    justify-content: space-evenly;
    
   
}